In [50]:
import pandas as pd
import numpy as np

In [51]:
chart={'key1': ['a','a','b','b','a'],
'key2': ['one','two','one','two','one'],
'data1': np.random.permutation(5),
'data2': np.random.permutation(5)}
type(chart)

dict

In [52]:
# 使用字典来给列表传值有错误
df=pd.DataFrame(index=[1,2,3,4,5],columns=chart)  
df

  key1 key2 data1 data2
1  NaN  NaN   NaN   NaN
2  NaN  NaN   NaN   NaN
3  NaN  NaN   NaN   NaN
4  NaN  NaN   NaN   NaN
5  NaN  NaN   NaN   NaN

In [55]:
df1=pd.DataFrame(chart)
df1

  key1 key2  data1  data2
0    a  one      1      4
1    a  two      0      0
2    b  one      4      1
3    b  two      2      2
4    a  one      3      3

In [56]:
df1.index=['index1','index2','index3','index4','index5']
df1

       key1 key2  data1  data2
index1    a  one      1      4
index2    a  two      0      0
index3    b  one      4      1
index4    b  two      2      2
index5    a  one      3      3

In [67]:
l=df1['data1'].groupby(df1['key1'])
l.mean()

key1
a    1.333333
b    3.000000
Name: data1, dtype: float64

In [68]:
l=df1.groupby(df1['key1'])
l.size()

key1
a    3
b    2
dtype: int64