In [1]:
#pandas有两种常用的数据结构 Series&DataFrame
import pandas as pd
import numpy as np

In [34]:
obj=pd.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [3]:
print(obj.values)
print(obj.index)

[ 4  7 -5  3]
RangeIndex(start=0, stop=4, step=1)

In [5]:
obj_1=pd.Series([4,7,-5,3],index=['d','b','a','c'])
print(obj_1)
print(obj_1.index)

d    4
b    7
a   -5
c    3
dtype: int64
Index(['d', 'b', 'a', 'c'], dtype='object')

In [7]:
print(obj_1['a'])
print(obj_1['d'])
print(obj_1[['c','a','d']])  #['c', 'a', 'd']包含的不是数字而是字符串，作为索引列表。

-5
4
c    3
a   -5
d    4
dtype: int64

In [12]:
print(obj_1[obj_1>2])
print(obj_1*2)
print(np.exp(obj_1))

d    4
b    7
c    3
dtype: int64
d     8
b    14
a   -10
c     6
dtype: int64
d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [13]:
print('b' in obj_1)
print('e' in obj_1)

True
False

In [14]:
#可以用字典生成一个Series
sdata={'Ohil':35000,'Texas':71000,'Oregon':16000,'Utan':5000}
obj_3=pd.Series(sdata)
print(obj_3)

Ohil      35000
Texas     71000
Oregon    16000
Utan       5000
dtype: int64

In [16]:
#利用Series来对字典由键找值
states=['California','Ohil','Oregon','Texas']   ###由于字典中没有'California',所以其对应的值是NaN
obj_4=pd.Series(sdata,index=states)
print(obj_4)

California        NaN
Ohil          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [22]:
#pandas中使用isnull()和notnull()函数来检查是否缺失数据
print(pd.isnull(obj_4),'\n'*3)
print(pd.notnull(obj_4))

California     True
Ohil          False
Oregon        False
Texas         False
dtype: bool



California    False
Ohil           True
Oregon         True
Texas          True
dtype: bool

In [24]:
#Series的自动对齐索引的特性
print(obj_3,'\n'*2)
print(obj_4,'\n'*2)
print(obj_3+obj_4)

Ohil      35000
Texas     71000
Oregon    16000
Utan       5000
dtype: int64


California        NaN
Ohil          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64


California         NaN
Ohil           70000.0
Oregon         32000.0
Texas         142000.0
Utan               NaN
dtype: float64

In [30]:
#Series的name属性
obj_4.name='population'
obj_4.index.name='state'
print(obj_4)

state
California        NaN
Ohil          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [35]:
#Series的索引可以通过按位置赋值的方式进行改变
print(obj,'\n')
obj.index=['Bob','Steve','Jeff','Ryan']
print(obj)

0    4
1    7
2   -5
3    3
dtype: int64

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [ ]:
#DataFrame既有行索引也有列索引，它可以被视为一个共享相同索引的Series的字典。在DataFrame中，数据被存储为一个以上的二维块，而不是列表、字典或其他一维数组的集合。

In [39]:
data={'state':['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],'year':[2000,2001,2002,2001,2002,2003],'pop':[1.5,1.7,3.6,2.4,2.9,3.2]}
frame=pd.DataFrame(data)
print(frame,'\n'*2)
print(frame.head)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2


<bound method NDFrame.head of     state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2>

In [46]:
frame_1=pd.DataFrame(data,columns=['year','state','pop','debt'],index=['one','two','three','four','five','six'])
print(frame_1,'\n'*2)
print(frame_1.columns,'\n'*2)
print(frame_1['state'],'\n'*2)
print(frame_1.year)

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN


Index(['year', 'state', 'pop', 'debt'], dtype='object')


one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object


one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

In [49]:
#
print(frame_1.year,'\n'*2)
print(frame_1['year'])

one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64


one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64

In [52]:
#行也可以通过位置或特殊属性loc进行选取
frame_1.loc['three']

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

In [56]:
#列的引用是可以修改的。
frame_1['debt']=16.5
print(frame_1,'\n')
frame_1['debt']=np.arange(6.)
print(frame_1)

       year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5
six    2003  Nevada  3.2  16.5

       year   state  pop  debt
one    2000    Ohio  1.5   0.0
two    2001    Ohio  1.7   1.0
three  2002    Ohio  3.6   2.0
four   2001  Nevada  2.4   3.0
five   2002  Nevada  2.9   4.0
six    2003  Nevada  3.2   5.0

In [65]:
#如果你将Series赋值给一列时，Series的索引将会按照DataFrame的索引重新排列，并在空缺的地方填充缺失值：
val=pd.Series([-1.2,-1.5,-1.7],index=['two','four','five'])
frame_1['debt']=val
frame_1

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN

In [66]:
#你可以将使用类似NumPy的语法对DataFrame进行转置操作（调换行和列）：
frame_1.T

        one   two three    four    five     six
year   2000  2001  2002    2001    2002    2003
state  Ohio  Ohio  Ohio  Nevada  Nevada  Nevada
pop     1.5   1.7   3.6     2.4     2.9     3.2
debt    NaN  -1.2   NaN    -1.5    -1.7     NaN

In [84]:
frame_1['eastern']=frame_1.state=='Ohio'
print(frame_1)

       year   state  pop  debt  eastern
one    2000    Ohio  1.5   NaN     True
two    2001    Ohio  1.7  -1.2     True
three  2002    Ohio  3.6   NaN     True
four   2001  Nevada  2.4  -1.5    False
five   2002  Nevada  2.9  -1.7    False
six    2003  Nevada  3.2   NaN    False

In [76]:
#注意frame_1.eastern的语法无法创建新的列。
frame_1.western=np.arange(6.)
print(frame_1.western,'\n')
print(frame_1)

[0. 1. 2. 3. 4. 5.]

       year   state  pop  debt  eastern
one    2000    Ohio  1.5   NaN     True
two    2001    Ohio  1.7  -1.2     True
three  2002    Ohio  3.6   NaN     True
four   2001  Nevada  2.4  -1.5    False
five   2002  Nevada  2.9  -1.7    False
six    2003  Nevada  3.2   NaN    False

In [85]:
#del方法可以用于移除之前新建的列：
....: del frame_1['eastern']
....: print(frame_1)

       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN

In [87]:
#pandas中的索引对象是用于存储轴标签和其他元数据的（例如轴名称或标签）。在构造Series或DataFrame时，你所使用的任意数组或标签序列都可以在内部转换为索引对象：
obj=pd.Series(range(3),index=['a','b','c'])
index=obj.index
print(index,'\n')
print(index[1:])

Index(['a', 'b', 'c'], dtype='object')

Index(['b', 'c'], dtype='object')

In [2]:
obj=pd.Series([4.5,7.2,-5.3,3.6],index=['d','b','a','c'])
print(obj)

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [4]:
#Series调用reindex方法时，会将数据按照新的索引进行排列
obj2=obj.reindex(['a','b','c','d','e'])
print(obj2)

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [50]:
#对于顺序数据，比如时间序列，在重建索引时可能会需要进行插值或填值。method可选参数允许我们使用诸如ffill等方法在重建索引时插值，ffill方法会将值前向填充：
obj3=pd.Series(['blue','purple','yellow'],index=[0,2,4])
print(obj3,'\n'*2)
print(obj3.reindex(range(6),method='ffill'),'\n')
print(obj3)

0      blue
2    purple
4    yellow
dtype: object


0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

0      blue
2    purple
4    yellow
dtype: object

In [12]:
#展示如何创建一个新DataFrame
frame=pd.DataFrame(np.arange(9).reshape((3,3)),index=['a','c','d'],columns=['Ohio','Texas','California'])
print(frame,'\n')
#当仅传入一个序列时，结果中的行会重建索引
frame2=frame.reindex(['a','b','c','d'])
print(frame2)

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [14]:
#关于reindex   列可以使用columns关键字重建索引：
states=['Texas','Utah','California']
print(frame.reindex(columns=states))

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [16]:
###可以使用loc进行更为简洁的标签索引
print(frame.loc[['a','b','c','d'],states])

   Texas  Utah  California
a    1.0   NaN         2.0
b    NaN   NaN         NaN
c    4.0   NaN         5.0
d    7.0   NaN         8.0

In [22]:
print(frame.loc[['a','b','c','d'],['Texas','b','c','d','e','f']])

   Texas   b   c   d   e   f
a    1.0 NaN NaN NaN NaN NaN
b    NaN NaN NaN NaN NaN NaN
c    4.0 NaN NaN NaN NaN NaN
d    7.0 NaN NaN NaN NaN NaN

In [31]:
#如果你已经拥有索引数组或不含条目的列表，在轴向上删除一个或更多的条目就非常容易，但这样需要一些数据操作和集合逻辑，drop方法会返回一个含有指示值或轴向上删除值的新对象：
obj=pd.Series(np.arange(5.),index=['a','b','c','d','e'])
print(obj.drop('a'),'\n')
print(obj.drop(['b','c']))

b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

a    0.0
d    3.0
e    4.0
dtype: float64

In [58]:
frame=frame.T
print(frame,'\n')
frame=frame.reindex(columns=['one','two','three','four'],index=['Ohil','Colorado','Utah','New York'])

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [59]:
frame

          one  two  three  four
Ohil      NaN  NaN    NaN   NaN
Colorado  NaN  NaN    NaN   NaN
Utah      NaN  NaN    NaN   NaN
New York  NaN  NaN    NaN   NaN

In [63]:
#在调用drop时使用标签序列会根据行标签删除值（轴0），可以通过传递axis=1或axis='columns’来从列中删除值
print(frame.drop(['Colorado','Ohil']),'\n')
print(frame.drop('two',axis=1))

          one  two  three  four
Utah      NaN  NaN    NaN   NaN
New York  NaN  NaN    NaN   NaN

          one  three  four
Ohil      NaN    NaN   NaN
Colorado  NaN    NaN   NaN
Utah      NaN    NaN   NaN
New York  NaN    NaN   NaN

In [71]:
#很多函数，例如drop，会修改Series或DataFrame的尺寸或形状，这些方法直接操作原对象而不返回新对象,请注意inplace属性，它会清除被删除的数据
frame.drop('Utah',inplace=True)
print(frame)
frame.drop('one',axis=1,inplace=True)
print(frame)

          one  two  three  four
Colorado  NaN  NaN    NaN   NaN
New York  NaN  NaN    NaN   NaN
          two  three  four
Colorado  NaN    NaN   NaN
New York  NaN    NaN   NaN

In [78]:
###5.2.3-->索引、选择与过滤
#普通的Python切片中是不包含尾部的，Series的切片与之不同,使用这些方法设值时会修改Series相应的部分
print(obj,'\n')
print(obj['b'],'\n')
print(obj[1],'\n')
print(obj[2:4],'\n')
print(obj[['b','a','d']],'\n')
print(obj[[1,3]],'\n')
print(obj[obj<2])

a    0.0
b    1.0
d    3.0
e    4.0
c    2.0
dtype: float64

1.0

1.0

d    3.0
e    4.0
dtype: float64

b    1.0
a    0.0
d    3.0
dtype: float64

b    1.0
e    4.0
dtype: float64

a    0.0
b    1.0
dtype: float64

In [87]:
data=pd.DataFrame(np.arange(16).reshape(4,4),columns=['one','two','three','four'],index=['a','b','c','d'])
print(data,'\n')
print(data['two'],'\n')
print(data[['three','one']],'\n')
print(data[:2],'\n')
print(data[data['three']>5])

   one  two  three  four
a    0    1      2     3
b    4    5      6     7
c    8    9     10    11
d   12   13     14    15

a     1
b     5
c     9
d    13
Name: two, dtype: int32

   three  one
a      2    0
b      6    4
c     10    8
d     14   12

   one  two  three  four
a    0    1      2     3
b    4    5      6     7

   one  two  three  four
b    4    5      6     7
c    8    9     10    11
d   12   13     14    15

In [92]:
#5.2.3.1 使用loc和iloc选择数据  loc采用标签名选择数据，iloc使用索引选择数据
print(data,'\n')
print(data.loc['a',['two','three']],'\n')
print(data.iloc[2,[3,0,1]],'\n')
print(data.iloc[[1,2],[3,0,1]])

   one  two  three  four
a    0    1      2     3
b    4    5      6     7
c    8    9     10    11
d   12   13     14    15

two      1
three    2
Name: a, dtype: int32

four    11
one      8
two      9
Name: c, dtype: int32

   four  one  two
b     7    4    5
c    11    8    9

In [94]:
#除了单个标签或标签列表之外，索引功能还可以用于切片
data.loc[:'c',:'two']

   one  two
a    0    1
b    4    5
c    8    9

In [95]:
data.iloc[:,:3]

   one  two  three
a    0    1      2
b    4    5      6
c    8    9     10
d   12   13     14

In [100]:
#注意切片中::的用法，可以等差提取
data.iloc[::2,:2]

   one  two
a    0    1
c    8    9

In [105]:
#在pandas对象使上用整数索引对新用户来说经常会产生歧义,因为$$$此时标签索引和位置索引是一样的$$$
ser=pd.Series(np.arange(3))
print(ser,'\n')
print(ser[1])

0    0
1    1
2    2
dtype: int32

1

In [103]:
print(ser[-1])

KeyError: -1

In [ ]:
#5.2.5 算术和数据对齐<-----这一部分详细请看书,就是两个DataFrame1+DataFrame会出现什么

In [112]:
#填充可以直接用dataframe.loc()方法
frame.iloc[1,1]='f**k'
frame.iloc[0,0]='damnit'
print(frame)

             two three  four
Colorado  damnit   NaN   NaN
New York     NaN  f**k   NaN

In [146]:
#当我们从arr中减去arr[0]时，减法在每一行都进行了操作。这就是所谓的$$$$$广播机制$$$$$$
df_1=pd.DataFrame(np.arange(12).reshape(3,4),columns=(['one','two','three','four']),index=(['a','c','m']))

In [147]:
print(df_1)
print(data)

   one  two  three  four
a    0    1      2     3
c    4    5      6     7
m    8    9     10    11
   one  two  three  four
a    0    1      2     3
b    4    5      6     7
c    8    9     10    11
d   12   13     14    15

In [152]:
df_2=data+df_1
df_2

    one   two  three  four
a   0.0   2.0    4.0   6.0
b   NaN   NaN    NaN   NaN
c  12.0  14.0   16.0  18.0
d   NaN   NaN    NaN   NaN
m   NaN   NaN    NaN   NaN

In [153]:
df_1.add(data,fill_value=0)

    one   two  three  four
a   0.0   2.0    4.0   6.0
b   4.0   5.0    6.0   7.0
c  12.0  14.0   16.0  18.0
d  12.0  13.0   14.0  15.0
m   8.0   9.0   10.0  11.0

In [155]:
frame=pd.DataFrame(np.arange(12).reshape((4,3)),columns=list('bde'),index=['Utah','Ohio','Texas','Oregon'])
seri=frame.iloc[0]
print(frame,'\n'*2,seri)

        b   d   e
Utah    0   1   2
Ohio    3   4   5
Texas   6   7   8
Oregon  9  10  11

 b    0
d    1
e    2
Name: Utah, dtype: int32

In [156]:
frame-seri

        b  d  e
Utah    0  0  0
Ohio    3  3  3
Texas   6  6  6
Oregon  9  9  9

In [157]:
seri_2=pd.Series(range(3),index=['d','e','f'])
frame+seri_2

         b     d     e   f
Utah   NaN   1.0   3.0 NaN
Ohio   NaN   4.0   6.0 NaN
Texas  NaN   7.0   9.0 NaN
Oregon NaN  10.0  12.0 NaN

In [ ]:
#5.2.6 函数应用和映射
####关于apply()函数和匿名函数的应用略
#很重要，但是我真的累了

In [ ]:
#5.2.7 排序和排名
#排序有根据标签排序和根据值排序两种方式

In [162]:
#根据标签排序--->sort_index()方法
obj=pd.Series(range(4),index=['d','a','b','c'])
print(obj.sort_index(),'\n'*2)
frame3=pd.DataFrame(np.arange(8).reshape(2,4),index=['three','one'],columns=['d','b','a','c'])
print(frame3.sort_index(axis=1),'\n'*2)
print(frame3.sort_index(axis=0),'\n'*2)
print(frame3.sort_index(axis=1,ascending=False),'\n'*2)

a    1
b    2
c    3
d    0
dtype: int64


       a  b  c  d
three  2  1  3  0
one    6  5  7  4


       d  b  a  c
one    4  5  6  7
three  0  1  2  3


       d  c  b  a
three  0  3  1  2
one    4  7  5  6

In [174]:
#根据值进行排序--->sort_values()方法
obj=pd.Series([4,-7,-3,21])
print(obj.sort_values(),'\n')
frame4=pd.DataFrame({'b':[4,7,-3,2],'a':[6,-3,-3,4]})
print(frame4.sort_values(by='a'),'\n')
print(frame4.sort_values(by=['a','b']))

1    -7
2    -3
0     4
3    21
dtype: int64

   b  a
1  7 -3
2 -3 -3
3  2  4
0  4  6

   b  a
2 -3 -3
1  7 -3
3  2  4
0  4  6

In [177]:
#5.2.8 含有重复标签的轴索引,索引的is_unique属性可以告诉你它的标签是否唯一
obj.index.is_unique

True